{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    {% set favicon_file = theme_config.favicon_file|first %}
      {% if favicon_file %}
      <link rel="icon" type="{{ favicon_file.type }}" href="/{{ favicon_file.path }}" />
      {% else %}
       <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
      {% endif %}
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
    {% if theme_config.theme.stylesheet != 'default' %}
        {% do assets.addCss("theme://css/bootswatch/#{ theme_config.theme.stylesheet }/bootstrap.min.css", 100) %}
    {% else %}
        {% do assets.addCss('theme://css/bootstrap/bootstrap.min.css', 100) %}
    {% endif %}
        {% do assets.addCss('theme://css/font-awesome/css/font-awesome.min.css', 99) %}
       {% do assets.addCss('theme://css/default.css', 98) %}
       {# do assets.addCss('theme://css/custom.css', 98) #}
    {% endblock %}
    {{ assets.css() }}
 <style>
        /* Move down content because we have a fixed navbar that is 50px tall */
body {
    {% if theme_config.navbar.fixed_top %}
    {% set padding = 60 %}
    {% else %}
    {% set padding = 0 %}
    
    {% endif %}
    {% if theme_config.theme.adjust_header != 0 %}
    padding-top: {{ padding + theme_config.theme.adjust_header }}px;
    {% else %}
  padding-top: {{ padding }}px;
    {% endif %}

{% if theme_config.background.color %}
    background-color: {{ theme_config.background.color }};
{% endif %}
    {% set background_image = theme_config.background.image|first %}
    {% if background_image %}
        background-image: url("/{{ background_image.path }}");
        {% set background_repeat = "repeat" %}
        {% if theme_config.background.repeat %}
            {% set background_repeat = theme_config.background.repeat %}
        {% endif %}
        background-repeat: {{ background_repeat }};
    {% endif %}

}

{% if theme_config.footer.color_bg %}
    .footer-container { background-color: {{ theme_config.footer.color_bg }} }

{% endif %}
{% if theme_config.footer.color_link %}
    .footer-container a { color: {{ theme_config.footer.color_link }} }

{% endif %}
{% if theme_config.subfooter.color_bg %}
    .subfooter-container { background-color: {{ theme_config.subfooter.color_bg }} }

{% endif %}
{% if theme_config.subfooter.color_link %}
    .subfooter-container a { color: {{ theme_config.subfooter.color_link }} }

{% endif %}
{% if theme_config.socialmedia.color.bg %}

.innersocialbg {
    color: {{ theme_config.socialmedia.color.bg }} !important;
    transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
}

{% if theme_config.socialmedia.color.bg_mouseover %}
.socialhover {
    color: {{ theme_config.socialmedia.color.bg_mouseover }} !important;
}
{% endif %}

{% endif %}

    </style>
    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
        {% do assets.add('theme://js/tether.min.js') %}
        {% do assets.add('theme://js/bootstrap/bootstrap.min.js') %}
        {% do assets.add('theme://js/functions.js') %}
        {% if theme_config.dropdown.enable_mouseover %}
            {% do assets.add('theme://js/dropdown-hover.js') %}
        {% endif %}
        
    {% endblock %}
    {{ assets.js() }}

{% endblock head %}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
 
{% if theme_config.navbar.background_color %}
    {% set navbar_style = "style=\"background-color: #{theme_config.navbar.background_color}\"" %}
    {% set navbar_bg = '' %}
{% elseif theme_config.navbar.background and theme_config.navbar.background != 'default' %}
    {% set navbar_bg = theme_config.navbar.background %}
    {% set navbar_style = '' %}
{% else %}
    {% set navbar_bg = 'bg-primary' %}
    {% set navbar_style='' %}
{% endif %}
{% if theme_config.navbar.fixed_top %}
 <nav class="navbar navbar-toggleable-md {{ theme_config.navbar.invert ? 'navbar-inverse' : 'navbar-light' }} fixed-top {{ navbar_bg }}" {{ navbar_style }}>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {% set site_logo = theme_config.theme.file_logo|first %}
      <a class="navbar-brand " href="{{ base_url == '' ? '/' : base_url }}">
      {% if site_logo %}
      <img src="/{{ site_logo.path }}" />&nbsp;
      {% endif %}
      {{ config.site.title }}
    </a>

      <div class="collapse navbar-collapse {% if theme_config.navbar.navigation.alignment == 'center' %}justify-content-md-center{% elseif theme_config.navbar.navigation.alignment == 'right' %}justify-content-end{% endif %} " id="navbarsExampleDefault">
        {% block header_navigation %}
            {% include 'partials/navigation.html.twig' %}
        {% endblock %}        
      </div>
    </nav>
{% else %}

<div class="container">
<div class="py-2">
{% set site_logo = theme_config.theme.file_logo|first %}
      <a class="navbar-brand " href="{{ base_url == '' ? '/' : base_url }}">
      {% if site_logo %}
      <img src="/{{ site_logo.path }}" />&nbsp;
      {% endif %}
      {{ config.site.title }}
    </a>
    </div>
{% block slider_1 %}{% endblock %}
 <nav class="navbar navbar-toggleable-md {{ theme_config.navbar.invert ? 'navbar-inverse' : 'navbar-light' }} rounded {{ navbar_bg }}" {{ navbar_style }}>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse {% if theme_config.navbar.navigation.alignment == 'center' %}justify-content-md-center{% elseif theme_config.navbar.navigation.alignment == 'right' %}justify-content-end{% endif %}" id="navbarsExampleDefault">
        {% block header_navigation2 %}
            {% include 'partials/navigation.html.twig' %}
        {% endblock %}        
      </div>
    </nav>
</div>
{% endif %}

{% endblock %}
{% block slider_2 %}{% endblock %}
{% block body %}
    <section id="body">


        <div class="container wrapper padding" style="padding-bottom: 10px;">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block slider_3 %}{% endblock %}

{% include 'partials/socialmedia.html.twig' with {'socialmedia_position': '1'} %}
{% block footer %}
{% include 'partials/footer_container.html.twig' %}
{% include 'partials/socialmedia.html.twig' with {'socialmedia_position': '2'} %}

{% include 'partials/subfooter_container.html.twig' %}
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}
</body>
