{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
    {% if theme_config.theme_stylesheet != 'default' %}
        {% do assets.addCss("theme://css/bootswatch/#{ theme_config.theme_stylesheet }/bootstrap.min.css", 100) %}
    {% else %}
        {% do assets.addCss('theme://css/bootstrap/bootstrap.min.css', 100) %}
    {% endif %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', 99) %}
       {# do assets.addCss('theme://css/custom.css', 98) #}
    {% endblock %}
    {{ assets.css() }}
 <style>
        /* Move down content because we have a fixed navbar that is 50px tall */
body {
    {% if theme_config.theme_adjust_header != 0 %}
    padding-top: {{ 60 + theme_config.theme_adjust_header }}px;
    {% else %}
  padding-top: 60px;
    {% endif %}
}

{% if theme_config.footer_color_bg %}
    .footer-container { background-color: {{ theme_config.footer_color_bg }} }; 
{% endif %}
    </style>
    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
              {% do assets.add('theme://js/bootstrap/bootstrap.min.js') %}

    {% endblock %}
    {{ assets.js() }}

{% endblock head %}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
 

 <nav class="navbar navbar-toggleable-md {{ theme_config.navbar.invert ? 'navbar-inverse' : 'navbar-light' }} fixed-top bg-primary">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {% set site_logo = theme_config.theme_file_logo|first %}
      <a class="navbar-brand __logo __left" href="{{ base_url == '' ? '/' : base_url }}">
      {% if site_logo %}
      <img src="/{{ site_logo.path }}" />&nbsp;
      {% endif %}
      {{ config.site.title }}
            </a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
 {% block header_navigation %}
                {% include 'partials/navigation.html.twig' %}
            {% endblock %}        
      </div>
    </nav>


{% endblock %}

{% block body %}
    <section id="body">


        <div class="container wrapper padding" style="padding-bottom: 10px;">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
<div class="footer-container" style="{% if theme_config.footer_color_fg %}color: {{ theme_config.footer_color_fg }};{% endif %}">
<div class="container" style="padding-top: 20px;">
<footer>

{% set footer_collection = page.find('/footer').children.order('default', 'asc').slice(0, 6) %}
    <div class="row">
    {% if theme_config.footer_columns %}
        {% for column in 1..theme_config.footer_columns %}
            {% set colnum = (12 // theme_config.footer_columns)  %}
            {% set fcol = attribute(footer_collection,'current') %}
            {% set next = attribute(footer_collection,'next') %}
            {% include 'partials/footer_column.html.twig' %}
        {% endfor %}
    {% endif %}
    </div>
</footer>
</div>
</div>

{% if theme_config.subfooter.enabled %}
<div class="container">
    <div class="footer">
        <div class="row wrapper padding">
            <div class="col-xs-12 col-md-12">
            {% if theme_config.subfooter_content %}
            <p>{{ theme_config.subfooter_content|markdown }}</p>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
