
{% macro display_slider(currentPosition,config, page) %}
{% if config.position == currentPosition %}

<div id="carouselTikva" class="carousel slide" data-ride="carousel" data-interval="{{ config.interval }}" data-pause="{{ config.options|first ? 'hover' : '' }}" data-wrap="{{ config.wrap|first ? 'true' : 'false'  }}" data-keyboard="{{ config.keyboard|first ? 'true' : 'false' }}">
  <!-- Indicators -->
  <ol class="carousel-indicators"> 

            {% for item in config.items %}
    <li data-target="#carouselTikva" data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %}class="active"{% endif %}></li>
            
            {% endfor %}
  </ol>
  <div class="carousel-inner" role="listbox">
  {% for item in config.items %}
    <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
    {% set image = item.image|first %}
    {% if item.url %}
        {% set slider_url = item.url %}
    {% elseif item.page != 'Unset' %}
        {% set slider_url = item.page %}
    {% endif %}
    {% if slider_url %}
        <a href="{{ slider_url }}">
    {% endif %}
    {% if config.width == 0 and config.height == 0 %} {# do not resize, use images with original size #}
    {{ page.find('/images/slider').media["#{ image.name }"].html("#{ image.title }","#{ image.title }","d-block img-fluid")  }}
    {% elseif config.preserve_ratio %} {# resize with original aspect-ratio #}
        {{ page.find('/images/slider').media["#{ image.name }"].resize(config.width > 0 ? config.width : 1000,config.height > 0 ? config.height : 500).html("#{ image.title }","#{ image.title }","d-block img-fluid")  }}
    
    {% else %} {# force resize #}
        {{ page.find('/images/slider').media["#{ image.name }"].forceResize(config.width > 0 ? config.width : 1000,config.height > 0 ? config.height : 500).html("#{ image.title }","#{ image.title }","d-block img-fluid")  }}
    {% endif %}
    
    {% if slider_url %}
        </a>
    {% endif %}
    {% if item.title or item.description %}
    {% if item.text_color %}
        {% set item_style = "color: #{item.text_color};" %}
    {% else %}
        {% set item_style = '' %}
    {% endif %}
        <div class="carousel-caption {% if item.alignment == 'left' %} text-left {% elseif item.alignment == 'right' %}text-right {% endif %}d-none d-md-block">
            {% if item.title %}<h3 style="{{ item_style }}">{% if slider_url %}<a style="{{ item_style }}" href="{{ slider_url }}">{% endif %}<span style="{{ item_style }}">{{ item.title }}</span>{% if slider_url %}</a>{% endif %}</h3>{% endif %}
            {% if item.description %}<p style="{{ item_style }}">{% if slider_url %}<a style="{{ item_style }}" href="{{ slider_url }}">{% endif %}<span style="{{ item_style }}">{{ item.description }}</span>{% if slider_url %}</a>{% endif %}</p>{% endif %}
        </div>
    {% endif %}
    </div>
  {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselTikva" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselTikva" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endif %}
{% endmacro %}

{% if theme_config.slider.enabled %}
    {{ _self.display_slider(slider_position, theme_config.slider, page) }}
{% endif %}
   